@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400');

ul,
ol {
  margin: 0%;
  padding: 0%;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

.row {
  gap: 24px 0px;
}

.common-section {
  padding: 40px 0px;
}

.common-btn {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  background: #1a49a3;
  color: #fff;
  border-radius: 5px;
  padding: 4px 15px;
}

.common-btn:hover {
  border: 1px solid #1a49a3;
  background: transparent;
  color: #1a49a3;
}

.common-btn-two {
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  background: #fff;
  border: 1px solid #d0dae9;
  border-radius: 5px;
  color: #082a5e;
  padding: 4px 15px;
}

.common-btn-two:hover {
  border: 1px solid transparent;
  border-radius: 5px;
  background: #1a49a3;
  color: #fff;
}

.common-tlist-slider.owl-carousel .owl-nav {
  display: flex;
  gap: 6px;
}

.common-tlist-slider.owl-carousel .owl-nav button.owl-prev,
.common-tlist-slider.owl-carousel .owl-nav button.owl-next {
  --ehw-owl-btn: 28px;
  width: calc(var(--ehw-owl-btn));
  height: calc(var(--ehw-owl-btn));
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fd882e;
  font-size: 28px;
  padding: 20px;
  color: #fd882e;
}

.common-tlist-slider.owl-carousel .owl-nav button.owl-prev.disabled,
.common-tlist-slider.owl-carousel .owl-nav button.owl-next.disabled {
  color: #878787;
  cursor: default;
  border-color: #fd882e00;
}

.common-tlist-slider.owl-carousel .owl-nav {
  position: absolute;
  right: 0%;
  top: -15%;
  width: max-content;
}

/*  */
.yfs-img {
  width: 100%;
  height: 400px;
}

.yfs-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*  */

/************************************ Header Section ***********************************************/
header {
  /* position: absolute;
    inset: 0; */
  width: 100%;
  height: max-content;
  z-index: 10;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  top: 0;
  z-index: 9999;
  width: 100%;
}

.navbar.header-fixed {
  position: fixed;
  /* background: rgba(14, 13, 14, 0.8); */
  transition: all ease-in-out 0.3s;
  backdrop-filter: blur(5px);
  animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }
}

.navbar-brand {
  height: 100px;
}

.navbar-brand img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.nav-menu {
  margin-left: 50px;
}

.navbar-nav .nav-item a {
  font-family: 'Lexend Deca', sans-serif;
  font-weight: 300;
  font-size: 15px;
  color: #000;
}

.navbar-nav .nav-item a:hover {
  color: #1a49a3;
}

.navbar-nav .nav-item .active {
  color: #1a49a3;
}

.head-brand-menu .common-btn {
  font-size: 15px;
  padding: 4px 8px;
}

.navbar-toggler-icon {
  filter: invert(0);
}

.form-select {
  border-radius: 0%;
  border: none;
  outline: none;
  border: 1px solid #d0dae9;
  width: 30%;
}

.form-search {
  display: flex;
  width: 70%;
  border: 1px solid #d0dae9;
}

.head-form {
  display: flex;
  background: #ffffff;
  margin-right: 20px;
}

.head-form input {
  background: transparent;
  outline: none;
  border-radius: 0%;
  border: none;
}

.head-form input::placeholder {
  color: #b0b6c9;
}

.head-form button {
  border-radius: 0%;
  border: none;
}

.head-form button i {
  color: #b0b6c9;
}

.nav-icons {
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-icons .nav-icon-cart {
  color: #000000;
  font-size: 18px;
  border: 2px solid #5a7093;
  padding: 5px;
  display: inline-flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
}

/******************************************* Banner Section **************************************/
.banner-section {
  min-height: 70vh;
  height: 100%;
}

.inner-banner-section {
  min-height: 60vh;
  height: 100%;
  position: relative;
}

.banner-content {
  position: relative;
  display: flex;
  width: 100%;
  /* min-height: 80vh; */
  height: 100%;
  justify-content: flex-start;
  align-items: flex-start;
  /* padding-top: 84px;
    padding-left: 320px; */
  gap: 10px;
}
/* .banner-content::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -30%;
    width: 100%;
    height: 75px;
    background: #fff;
} */

.banner-btn {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 40px;
  position: absolute;
  right: 75px;
  bottom: 35px;
}

.inner-banner-content {
  display: flex;
  /* width: 100%;
    min-height: 20vh;
    height: 100%; */
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

.banner-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 200;
  font-size: 64px;
  color: #1a49a3;
  text-transform: capitalize;
}

.banner-content p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  text-transform: capitalize;
}

.inner-banner-content h1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 64px;
  color: #1a49a3;
  margin-bottom: 0%;
  text-transform: uppercase;
}

.inner-banner-content p {
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 18px;
  color: #000000;
  margin-bottom: 0%;
}

.bg-img {
  background: no-repeat center center / cover;
  padding: 50px 0px;
  min-height: 70vh;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.banner-img1 {
  position: relative;
  z-index: 1;
  height: 500px;
  margin-left: -40px;
  /* margin-top: 40px; */
  margin-bottom: -100px;
}
.banner-img1 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-img2 {
  width: 100%;
  height: 400px;
  overflow: hidden;
}
.banner-img2 img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.banner-text {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
}
/******************************************* Video Page ***********************************/
.pv-btn {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.btn-container {
  border-bottom: 2px dashed #1a49a3;
}

.pv-btn button.common-btn-two {
  padding: 4px 40px;
}

.pv-btn button.active {
  background: #1a49a3;
  color: #fff;
  border: 1px solid transparent;
}

.course-head {
  padding: 20px 0px;
  border-bottom: 1px solid #c8c8c8;
}

.course-head h3 {
  font-family: 'Poppins', sans-serif;
  font-size: 28px;
  font-weight: 400;
  color: #000000;
}

.cources-sliders {
  padding: 40px 0px;
}

.course-card .course-tittle h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #000000;
  padding: 8px 0 0;
}
/* //Biman @design */
/* 
.course-card {
  padding: 8px;
  border-radius: 6px;
  display: inline-block;
  transition: all ease-in-out 0.3s;
}
.course-card:hover {
  background-color: #3d85c8;
  transform: scale(1.1);
}
.course-card-img {
  height: 150px;
  overflow: hidden;
}

.course-card-img img {
  border-radius: 10px;
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.course-btn-grp {
  display: flex;
  align-items: center;
  margin: 0;
  opacity: 0;
  transition: all ease-in-out 0.3s;
}
.course-card:hover .course-btn-grp {
  opacity: 1;
}
.course-card:hover .course-btn-grp .common-btn {
  font-size: 12px;
  padding: 4px 8px;
}
.course-card:hover .course-btn-grp .common-btn-two {
  font-size: 12px;
  padding: 4px 8px;
} */

.course-slider {
  padding: 20px 0px;
}

.classes-container {
  padding: 20px 0px;
}

/*************************** Our Students and parents Section *****************************/
.osp-section {
  background: url(../src/images/osp-bg.png) no-repeat center center / cover;
  border-radius: 10px;
  margin-bottom: -100px;
  margin-top: 40px;
  position: relative;
  z-index: 1;
}

.osp-head {
  padding: 20px 0px;
  text-align: center;
}

.osp-head h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 36px;
  color: #fff;
}

.osp-box {
  text-align: center;
}

.osp-box h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 56px;
  margin: 0%;
  color: #fff;
}

.osp-box p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}

/******************************** Footer Section *********************************************/
footer {
  background: #f3f3fb;
}

.footer-logo {
  width: 300px;
  height: 100px;
}

.footer-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.footer-box {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: 20px;
}

.footer-top {
  padding: 80px 0px 40px 0px;
}

.footer-box .footer-follow {
  display: flex;
  align-items: center;
  gap: 5px;
}

.footer-box .footer-follow li a {
  color: #1a49a3;
  border-radius: 8px;
  padding: 7px 12px;
  transition: all ease-in-out 0.5s;
}

.footer-box .footer-follow li a:hover {
  color: #0d0d0d;
}

.footer-box .footer-follow li a i {
  font-size: 18px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.footer-list-first {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.footer-list-first li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #717171;
  transition: all ease-in-out 0.5s;
  text-transform: capitalize;
}

.footer-list-first li a:hover {
  color: #1a49a3;
}

.footer-box-head h5 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  font-weight: 400;
  color: #000;
  text-transform: uppercase;
}

.footer-list li a {
  display: flex;
  align-items: center;
  gap: 10px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #717171;
  transition: all ease-in-out 0.5s;
  text-transform: capitalize;
}

.footer-list li a:hover {
  color: #1a49a3;
}

.footer-box p {
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 400;
  color: #656565;
  transition: all ease-in-out 0.5s;
  text-transform: capitalize;
}

.footer-copyright {
  padding: 20px 0px;
  border-top: 1px solid #707070;
  text-align: center;
}

.footer-copyright p {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #717171;
}

/********************************************** Media query ***********************************/

@media (max-width: 1400px) {
  .nav-menu {
    margin-left: 0px;
  }

  .head-form {
    width: 40%;
  }

  .banner-content h1 {
    font-size: 58px;
  }

  .bg-img {
    background-position: left center !important;
    min-height: 80vh;
  }
  .banner-btn {
    right: -28%;
    left: 30%;
    bottom: auto;
    top: 85%;
    gap: 20px;
  }

  /* .banner-content {
        display: flex;
        width: 100%;
        min-height: 65vh;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 68px;
        padding-left: 275px;
        gap: 10px;
    } */
  .osp-section {
    border-radius: 10px;
    margin-bottom: -100px;
    margin-top: 40px;
    /* height: 40vh; */
    position: relative;
  }
}

@media (max-width: 1200px) {
  .navbar-collapse {
    position: absolute;
    width: 100%;
    left: 0px;
    top: 90%;
  }

  .navbar-nav {
    width: 100%;
    margin: auto;
    background: #1a49a3;
    padding: 20px;
  }

  .navbar-nav .nav-item .nav-link {
    color: #bdcee9;
    font-size: 24px;
  }
  .banner-text {
    padding-right: 80px;
    margin-left: -90px;
  }
  .bg-img {
    background-position: left center;
    min-height: 100vh;
  }
  /* .banner-img1 img{
        object-fit: cover;
    } */

  /* .banner-content h1 {
        font-size: 48px;
    } */

  /* .banner-content {
        display: flex;
        width: 100%;
        min-height: 60vh;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding-top: 73px;
        padding-left: 250px;
        gap: 10px;
    } */

  /* .banner-section {
        min-height: 55vh;
        height: 100%;
    } */
  .osp-section {
    border-radius: 10px;
    margin-bottom: -150px;
    /* margin-top: 40px; */
    /* height: 40vh; */
    padding-bottom: 70px;
    position: relative;
  }
}

@media (max-width: 991px) {
  .head-form {
    width: 100%;
    order: 1;
    margin: 5px 0px;
  }
  .navbar-nav {
    width: 100%;
    margin: auto;
    background: #1a49a3;
    padding: 20px;
    margin-top: -35px;
  }
  .common-section {
    padding: 20px 0px;
  }
  .osp-head h3 {
    font-size: 24px;
  }
  .osp-box h3 {
    font-size: 20px;
  }
  .osp-box p {
    font-size: 14px;
  }
  .footer-list-first {
    grid-template-columns: repeat(1, 1fr);
  }
  .inner-banner-content h1 {
    font-size: 48px;
  }
  .osp-section {
    border-radius: 10px;
    margin-bottom: -150px;
    padding-bottom: 80px;
    position: relative;
  }
  .banner-img1 {
    margin-left: -100px;
    width: calc(100% + 50%);
    margin-left: -130px;
    height: 515px;
  }

  .bg-img {
    min-height: 85vh;
  }
}

@media (max-width: 768px) {
  .bg-img {
    min-height: 70vh;
  }
  .banner-btn {
    right: -100px;
    gap: 20px;
  }
  .ob-slider.owl-carousel .owl-nav button.owl-prev {
    left: -10%;
  }

  .ob-slider.owl-carousel .owl-nav button.owl-next {
    right: -10%;
  }

  .ob-img {
    height: auto;
  }

  .pcat-text h3 {
    font-size: 32px;
  }

  .pv-btn button.common-btn-two {
    padding: 4px 40px;
    width: 100%;
  }

  .ob-head {
    text-align: left;
  }

  .ob-slider.owl-carousel .owl-nav button.owl-prev,
  .ob-slider.owl-carousel .owl-nav button.owl-next {
    position: relative;
    top: 40%;
  }

  .ob-slider.owl-carousel .owl-nav {
    position: absolute;
    top: -16%;
    right: 0%;
  }

  .pcat-content {
    padding: 0px;
  }

  .navbar-nav {
    width: 100%;
  }

  .navbar-nav .nav-item .nav-link {
    font-size: 18px;
  }

  .osp-section {
    margin-bottom: -150px;
  }
  .bg-img > * > .row > *:nth-child(2) {
    order: -1;
  }
  .banner-content::before {
    height: 55px;
  }
  .banner-content h1 {
    font-size: 48px;
  }
  .banner-img1 {
    width: calc(100% + 15%);
    margin-left: 0px;
    height: 515px;
  }
}

@media (max-width: 580px) {
  .navbar-brand {
    height: 50px;
  }
  .course-card-img {
    height: auto;
  }

  .course-card .course-tittle h4 {
    font-size: 24px;
  }
  .banner-img1 {
    width: calc(100% + 50%);
    margin-left: -25px;
    height: 400px;
  }
  .banner-content h1 {
    font-size: 38px;
  }
  .banner-content::before {
    height: 45px;
  }
  .bg-img {
    background-size: cover;
  }
}

@media (max-width: 450px) {
  /* .banner-content {
        min-height: 18vh;
        padding-top: 35px;
        padding-left: 70px;
        gap: 0px;
    } */
  .banner-text {
    padding-right: 0px;
    margin-left: -115px;
  }
  .nav-icons .nav-icon-cart {
    display: none;
  }
  .head-brand-menu .common-btn {
    font-size: 12px;
    padding: 5px;
  }

  /* .banner-content h1 {
        font-size: 24px;
    } */

  /* .banner-content p {
        font-size: 12px;
        width: 50%;
    } */

  .pcat-content h3 {
    font-size: 28px;
  }

  .on-course-content h3 {
    font-size: 20px;
  }

  .jn-content p {
    font-size: 14px;
  }

  .on-course-content p {
    font-size: 14px;
  }

  .on-course-list li {
    font-size: 14px;
  }

  .wos-head h3 {
    font-size: 16px;
  }

  .ob-head h3 {
    font-size: 20px;
  }

  .inner-banner-content h1 {
    font-size: 48px;
  }

  .form-select {
    width: 40%;
  }
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700');
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@300;400');

*{
    scroll-behavior: smooth;
}
ul,
ol {
    margin: 0%;
    padding: 0%;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

.row {
    gap: 24px 0px;
}

.common-section {
    padding: 40px 0px;
}

.common-btn {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    font-weight: 400;
    background: #1A49A3;
    color: #fff;
    border-radius: 5px;
    padding: 4px 15px;
}

.common-btn:hover {
    border: 1px solid #1A49A3;
    background: transparent;
    color: #1A49A3;
}

.common-btn-two {
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
    background: #fff;
    border: 1px solid #D0DAE9;
    border-radius: 5px;
    color: #082A5E;
    padding: 4px 15px;
}

.common-btn-two:hover {
    border: 1px solid transparent;
    border-radius: 5px;
    background: #1A49A3;
    color: #fff;
}

.common-tlist-slider.owl-carousel .owl-nav {
    display: flex;
    gap: 6px;
}

.common-tlist-slider.owl-carousel .owl-nav button.owl-prev,
.common-tlist-slider.owl-carousel .owl-nav button.owl-next {
    --ehw-owl-btn: 28px;
    width: calc(var(--ehw-owl-btn));
    height: calc(var(--ehw-owl-btn));
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #fd882e;
    font-size: 28px;
    padding: 20px;
    color: #FD882E;
}

.common-tlist-slider.owl-carousel .owl-nav button.owl-prev.disabled,
.common-tlist-slider.owl-carousel .owl-nav button.owl-next.disabled {
    color: #878787;
    cursor: default;
    border-color: #fd882e00;
}

.common-tlist-slider.owl-carousel .owl-nav {
    position: absolute;
    right: 0%;
    top: -15%;
    width: max-content;
}

/*  */
.yfs-img {
    width: 100%;
    height: 400px;
}

.yfs-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*  */

/************************************ Header Section ***********************************************/
header {
    /* position: absolute;
    inset: 0; */
    width: 100%;
    height: max-content;
    z-index: 10;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    z-index: 9999;
    width: 100%;
}

.navbar.header-fixed {
    position: fixed;
    /* background: rgba(14, 13, 14, 0.8); */
    transition: all ease-in-out 0.3s;
    backdrop-filter: blur(5px);
    animation: slideDown 0.35s ease-out;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.navbar-brand {
    height: 100px;
}

.navbar-brand img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-menu {
    margin-left: 50px;
}

.navbar-nav .nav-item a {
    font-family: 'Lexend Deca', sans-serif;
    font-weight: 300;
    font-size: 15px;
    color: #000;
}

.navbar-nav .nav-item a:hover {
    color: #1A49A3;
}

.navbar-nav .nav-item .active {
    color: #1A49A3;
}

.head-brand-menu .common-btn {
    font-size: 15px;
    padding: 4px 8px;
}

.navbar-toggler-icon {
    filter: invert(0);
}

.form-select {
    border-radius: 0%;
    border: none;
    outline: none;
    border: 1px solid #D0DAE9;
    width: 30%;
}

.form-search {
    display: flex;
    width: 70%;
    border: 1px solid #D0DAE9;
}

.head-form {
    display: flex;
    background: #FFFFFF;
    margin-right: 20px;
}

.head-form input {
    background: transparent;
    outline: none;
    border-radius: 0%;
    border: none;
}

.head-form input::placeholder {
    color: #B0B6C9;
}

.head-form button {
    border-radius: 0%;
    border: none;
}

.head-form button i {
    color: #B0B6C9;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.nav-icons .nav-icon-cart {
    color: #000000;
    font-size: 18px;
    border: 2px solid #5A7093;
    padding: 5px;
    display: inline-flex;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
}


/******************************************* Banner Section **************************************/
.banner-section {
    /* min-height: 70vh; */
    height: 100%;

}

.inner-banner-section {
    min-height: 60vh;
    height: 100%;
    position: relative;
}

.banner-content {
    position: relative;
    display: flex;
    width: 100%;
    /* min-height: 80vh; */
    height: 100%;
    justify-content: flex-start;
    align-items: flex-start;
    /* padding-top: 84px;
    padding-left: 320px; */
    gap: 10px;
}

/* .banner-content::before {
    content: '';
    position: absolute;
    top: 0%;
    left: -30%;
    width: 100%;
    height: 75px;
    background: #fff;
} */

.banner-btn {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    gap: 40px;
    position: absolute;
    right: 75px;
    bottom: 35px;
}

.inner-banner-content {
    display: flex;
    /* width: 100%;
    min-height: 20vh;
    height: 100%; */
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
}

.banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    font-size: 64px;
    color: #1A49A3;
    text-transform: capitalize;
}

.banner-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    text-transform: capitalize;
}

.inner-banner-content h1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 64px;
    color: #1A49A3;
    margin-bottom: 0%;
    text-transform: uppercase;
}

.inner-banner-content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    font-size: 18px;
    color: #000000;
    margin-bottom: 0%;
}

.bg-img {
    background: url(../src/images/banner.jpg) no-repeat center center / cover;
    padding: 50px 0px;
    min-height: 55vh;
    height: 100%;
    overflow: hidden;
    position: relative;
}

.banner-img1 {
    position: relative;
    z-index: 1;
    height: 500px;
    margin-left: -40px;
    /* margin-top: 40px; */
    margin-bottom: -100px;
}

.banner-img1 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-img2 {
    width: 100%;
    height: 400px;
    overflow: hidden;
}

.banner-img2 img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.banner-text {
    display: flex;
    flex-direction: column;
    position: relative;
    z-index: 1;
}

/******************************************* Video Page ***********************************/
.pv-btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.btn-container {
    border-bottom: 2px dashed #1A49A3;
}

.pv-btn button.common-btn-two {
    padding: 4px 40px;
}

.pv-btn button.active {
    background: #1A49A3;
    color: #fff;
    border: 1px solid transparent;
}

.course-head {
    padding: 20px 0px;
    border-bottom: 1px solid #C8C8C8;
}

.course-head h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    font-weight: 400;
    color: #000000;
}

.cources-sliders {
    padding: 40px 0px;
}
.course-card {
    transition: all ease-in-out 0.5s;
    position: relative;
    z-index: 1;
}
.course-card:hover {
    
    transform: scale(1.2);
}

.course-card .course-tittle h4 {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #000000;
    padding: 10px;
}

.course-card-img {
    height: 180px;
}

.course-card-img img {
    border-radius: 10px;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.course-slider {
    padding: 20px 0px;
}

.classes-container {
    padding: 20px 0px;
}

/************************************** Login Section *************************************/
.login-section {
    background: no-repeat center center / cover;
    min-height: 100vh;
}
.login-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.login-form {
    margin: 20px 0px;
    padding: 30px;
    width: 400px;
    /* min-height: 350px; */
    background: #fff;
    border-radius: 15px;
    box-shadow: 5px 4px 15px -8px rgba(0,0,0,0.66);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-form-head h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    font-size: 24px;
    color: #1A49A3;
}
.login-input-box {
    width: 100%;
}
.login-input-box input {
    width: 100%;
}
.form-select {
    width: 100%;
    border-radius: 5px;
    color: #B1B1B1;
}
.login-input-box input::placeholder {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: #B1B1B1;
}
.login-btn {
    width: 100%;
}
.login-btn button {
    background: #1A49A3;
    color: #fff;
    width: 100%;
    transition: all ease-in-out 0.5s;
}
.login-btn button:hover {
    background: transparent;
    border: 1px solid #1A49A3;
    color: #1A49A3;
}
.login-form-footer {
    margin-top: 20px;
}
.login-form-footer p{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 0px;
}
.form-check {
    margin: 15px 0px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}
/*************************** Our Students and parents Section *****************************/
.osp-section {
    background: url(../src/images/osp-bg.png) no-repeat center center / cover;
    border-radius: 10px;
    margin-bottom: -100px;
    margin-top: 40px;
    position: relative;
    z-index: 1;
}

.osp-head {
    padding: 20px 0px;
    text-align: center;
}

.osp-head h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 36px;
    color: #fff;
}

.osp-box {
    text-align: center;
}

.osp-box h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 56px;
    margin: 0%;
    color: #fff;
}

.osp-box p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 16px;
    color: #fff;
}

/**************************************** Video Details Section *****************************/
.player-wrapper {
    width: 100%;
    height: 100%;
    margin: auto;
}

.video-player {
    width: 100%;
    height: 100%;
}

.video-details h3 {
    font-family: 'Poppins', sans-serif;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 0px;
}

.accordion-item {
    border: none;
}

.accordion-button:not(.collapsed) {
    color: #000;
    box-shadow: none;
    background: #fff;
}

.accordion-button:focus {
    outline: 0;
}

.faq-accordion-box .accordion-button:not(.collapsed)::after {
    background-image: var(--bs-accordion-btn-active-icon);
    transform: rotate(0deg);
}

.faq-accordion-box .accordion-button::after {
    transform: rotate(-90deg);
}

.accordion-button:not(.collapsed):focus {
    outline: 0;
}

.video-card {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}

.video-img {
    height: 100px;
}

.video-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.video-details h4 {
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-size: 16px;
    color: #000;
}

.video-section-right {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-height: 100vh;
    overflow: auto;
    padding: 0 10px;
}

/* ===== Scrollbar CSS ===== */
  /* Firefox */
  .video-section-right {
    scrollbar-width: auto;
    scrollbar-color: #ced4da #ffffff;
  }

  /* Chrome, Edge, and Safari */
  .video-section-right::-webkit-scrollbar {
    width: 12px;
  }

  .video-section-right::-webkit-scrollbar-track {
    background: #ffffff;
  }

  .video-section-right::-webkit-scrollbar-thumb {
    background-color: #ced4da;
    border-radius: 10px;
    border: 3px solid #ffffff;
  }
/******************************** Footer Section *********************************************/
footer {
    background: #F3F3FB;
}

.footer-logo {
    width: 300px;
    height: 100px;
}

.footer-logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.footer-box {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;

}

.footer-top {
    padding: 80px 0px 40px 0px;
}

.footer-box .footer-follow {
    display: flex;
    align-items: center;
    gap: 5px;
}

.footer-box .footer-follow li a {
    color: #1A49A3;
    border-radius: 8px;
    padding: 7px 12px;
    transition: all ease-in-out 0.5s;
}

.footer-box .footer-follow li a:hover {
    color: #0D0D0D;
}

.footer-box .footer-follow li a i {
    font-size: 18px;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-list-first {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}

.footer-list-first li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #717171;
    transition: all ease-in-out 0.5s;
    text-transform: capitalize;
}

.footer-list-first li a:hover {
    color: #1A49A3;
}

.footer-box-head h5 {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    color: #000;
    text-transform: uppercase;
}

.footer-list li a {
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #717171;
    transition: all ease-in-out 0.5s;
    text-transform: capitalize;
}

.footer-list li a:hover {
    color: #1A49A3;
}

.footer-box p {
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #656565;
    transition: all ease-in-out 0.5s;
    text-transform: capitalize;
}

.footer-copyright {
    padding: 20px 0px;
    border-top: 1px solid #707070;
    text-align: center;
}

.footer-copyright p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #717171;
}



/********************************************** Media query ***********************************/

@media (max-width: 1400px) {
    .nav-menu {
        margin-left: 0px;
    }

    .head-form {
        width: 40%;
    }

    .banner-content h1 {
        font-size: 58px;
    }

    .bg-img {
        background-position: left center;
        min-height: 45vh;
    }

    .banner-btn {
        right: 0;
        left: 30%;
        bottom: auto;
        top: 46%;
    }

    .osp-section {
        background: url(/src/images/osp-bg.png) no-repeat center center / cover;
        border-radius: 10px;
        margin-bottom: -100px;
        margin-top: 40px;
        /* height: 40vh; */
        position: relative;
    }
}

@media (max-width: 1200px) {
    .navbar-collapse {
        position: absolute;
        width: 100%;
        left: 0px;
        top: 90%;
    }

    .navbar-nav {
        width: 100%;
        margin: auto;
        background: #1A49A3;
        padding: 20px;
    }

    .navbar-nav .nav-item .nav-link {
        color: #bdcee9;
        font-size: 24px;
    }

    .banner-text {
        padding-right: 80px;
        margin-left: -90px;
    }

    .banner-img1 {
        margin-left: -100px;
        width: calc(100%);
    }

    .osp-section {
        background: url(/src/images/osp-bg.png) no-repeat center center / cover;
        border-radius: 10px;
        margin-bottom: -150px;
        /* margin-top: 40px; */
        /* height: 40vh; */
        padding-bottom: 70px;
        position: relative;
    }

}

@media (max-width: 991px) {
    .head-form {
        width: 100%;
        order: 1;
        margin: 5px 0px;
    }

    .navbar-nav {
        width: 100%;
        margin: auto;
        background: #1A49A3;
        padding: 20px;
    }

    .common-section {
        padding: 20px 0px;
    }

    .osp-head h3 {
        font-size: 24px;
    }

    .osp-box h3 {
        font-size: 20px;
    }

    .osp-box p {
        font-size: 14px;
    }

    .footer-list-first {
        grid-template-columns: repeat(1, 1fr);
    }

    .inner-banner-content h1 {
        font-size: 48px;
    }

    .osp-section {
        background: url(/src/images/osp-bg.png) no-repeat center center / cover;
        border-radius: 10px;
        margin-bottom: -150px;
        padding-bottom: 80px;
        position: relative;
    }

    .banner-img1 {
        margin-left: -100px;
        width: calc(100% + 50%);
        margin-left: -130px;
        height: 515px;
    }

    .bg-img {
        min-height: 32vh;
    }
}

@media (max-width: 768px) {
    .bg-img {
        min-height: 25vh;
    }

    .banner-btn {
        right: 40px;
        gap: 20px;
    }

    .ob-slider.owl-carousel .owl-nav button.owl-prev {
        left: -10%;
    }

    .ob-slider.owl-carousel .owl-nav button.owl-next {
        right: -10%;
    }

    .ob-img {
        height: auto;
    }

    .pcat-text h3 {
        font-size: 32px;
    }

    .pv-btn button.common-btn-two {
        padding: 4px 40px;
        width: 100%;
    }

    .ob-head {
        text-align: left;
    }

    .ob-slider.owl-carousel .owl-nav button.owl-prev,
    .ob-slider.owl-carousel .owl-nav button.owl-next {
        position: relative;
        top: 40%;
    }

    .ob-slider.owl-carousel .owl-nav {
        position: absolute;
        top: -16%;
        right: 0%;
    }

    .pcat-content {
        padding: 0px;
    }

    .navbar-nav {
        width: 100%;
    }

    .navbar-nav .nav-item .nav-link {
        font-size: 18px;
    }

    .osp-section {
        margin-bottom: -150px;
    }

    .bg-img>*>.row>*:nth-child(2) {
        order: -1;
    }

    .banner-content::before {
        height: 55px;
    }

    .banner-content h1 {
        font-size: 48px;
    }

    .banner-img1 {
        width: calc(100% + 15%);
        margin-left: 0px;
        height: 515px;
    }
    .video-card {
        justify-content: flex-start;
    }
}

@media (max-width: 580px) {
    .navbar-brand {
        height: 50px;
    }

    .course-card-img {
        height: auto;
    }

    .course-card .course-tittle h4 {
        font-size: 24px;
    }

    .banner-img1 {
        width: calc(100% + 50%);
        margin-left: -25px;
        height: 400px;
    }

    .banner-content h1 {
        font-size: 38px;
    }

    .banner-content::before {
        height: 45px;
    }

    .bg-img {
        background-size: cover;
    }
    .video-details h3 {
        font-size: 20px;
    }
}

@media (max-width: 450px) {

    /* .banner-content {
        min-height: 18vh;
        padding-top: 35px;
        padding-left: 70px;
        gap: 0px;
    } */
    .banner-text {
        padding-right: 0px;
        margin-left: -115px;
    }

    .nav-icons .nav-icon-cart {
        display: none;
    }

    .head-brand-menu .common-btn {
        font-size: 12px;
        padding: 5px;
    }

    /* .banner-content h1 {
        font-size: 24px;
    } */

    /* .banner-content p {
        font-size: 12px;
        width: 50%;
    } */

    .pcat-content h3 {
        font-size: 28px;
    }

    .on-course-content h3 {
        font-size: 20px;
    }

    .jn-content p {
        font-size: 14px;
    }

    .on-course-content p {
        font-size: 14px;
    }

    .on-course-list li {
        font-size: 14px;
    }

    .wos-head h3 {
        font-size: 16px;
    }

    .ob-head h3 {
        font-size: 20px;
    }

    .inner-banner-content h1 {
        font-size: 48px;
    }

    .form-select {
        width: 40%;
    }
}




/* //Otp */



.containerOtp {
  width: 300px;
  margin: 0 auto;
  padding: 20px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

label {
  display: block;
  font-size: 16px;
  text-align: left;
  margin-bottom: 10px;
}

input[type="text"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.otp-input {
  display: flex;
  justify-content: space-between;
}

.otp-input input {
  flex: 1;
  text-align: center;
  margin-right: 5px;
}

button {
  background-color: #007BFF;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}